@charset"utf-8";

*{
  margin:0;
  padding:0;
}

body{
  background-color:gray;
  margin:48px 0 0 0;
}
header{
  background-color:orange;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  z-index:-1;
}
#main{
  background-color:white;
  width:calc(100%-200px);
  min-width:calc(100%-200px);
  float:left;
}
.box{
  background-color:#ffffe0;
  color:black;
  width:240px;
  height:80px;
  margin:5px;
  float:left;
  overflow:auto;
}
  
aside{
  background-color:#a0d8ef;
  color:black;
  width:200px;
  margin:5px;
  float:right;
  overflow:auto;
  position:relative;
  top:20px;
  right:10px;
}
footer{
  background-color:#6e4a55;
  clear:both;
  height:200px;
}
